h2 {
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px;
}

img {
  vertical-align: baseline;
}

.jumbotron {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 32px;
}

p:last-of-type {
  margin-bottom: 0px;
}
